* {
  box-sizing: border-box;
}

html {
  font-family: 'Noto Sans JP', sans-serif;
  height: 100%;
}

body {
  margin: 0;
  background: url('./img/imgonline-com-ua-Blur-QxJQpz0bKeda1JDi\ \(3\).jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
